{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
          	<p class="breadcrumbs mb-0"><span class="mr-2"><a href="{{path('app_home')}}">Home <i class="fa fa-chevron-right"></i></a></span> <span>My Account <i class="fa fa-chevron-right"></i></span></p>
            <h2 class="mb-0 bread">My Account</h2>
          </div>
        </div>
      </div>
</section>
 <section class="ftco-section container">

    <div class="container">
<div class="row gutters">
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Personal Details</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Enter New FirstName" value="{{app.user.firstname}}">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input type="text" class="form-control" id="Lastname" placeholder="Enter New LastName" value="{{app.user.lastname}}">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Enter New Phone Number" value="{{app.user.phone}}">
                    </div>
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                        <button type="button" id="submit" name="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Password</h6>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" id="Password" placeholder="Enter New Password" >
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="repeatpassword">Repeat Password</label>
                        <input type="password" class="form-control" id="repeatpassword" placeholder="Enter New repeated Password">
                    </div>
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                        <button type="button" id="submit" name="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Fedelity Points</h6>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <p>999999 points</p>
                        <small>100 points equal 1 euro</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">List Address</h6>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 card h-100 my-3 pt-3 mx-1">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <p>8 sentier de la carriere,<br> 93330 neuilly sur marne,<br>  France</p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary">Update</button>
                        <button type="button" id="submit" name="submit" class="btn btn-primary">Remove</button>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 card h-100 my-3 pt-3 mx-1">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <p>8 sentier de la carriere,<br> 93330 neuilly sur marne,<br>  France</p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary">Update</button>
                        <button type="button" id="submit" name="submit" class="btn btn-primary">Remove</button>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 card h-100 my-3 pt-3 mx-1">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <p>8 sentier de la carriere,<br> 93330 neuilly sur marne,<br>  France</p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary">Update</button>
                        <button type="button" id="submit" name="submit" class="btn btn-primary">Remove</button>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 card h-100 my-3 pt-3 mx-1">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <p>8 sentier de la carriere,<br> 93330 neuilly sur marne,<br>  France</p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary">Update</button>
                        <button type="button" id="submit" name="submit" class="btn btn-primary">Remove</button>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 card h-100 my-3 pt-3 mx-1">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <p>8 sentier de la carriere,<br> 93330 neuilly sur marne,<br>  France</p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary">Update</button>
                        <button type="button" id="submit" name="submit" class="btn btn-primary">Remove</button>
                    </div>
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Add Address</h6>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                    <label for="adress">Address</label>
                        <input type="text" class="form-control" id="adress" placeholder="Your adress">
                    </div>
                 </div>
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="adress" placeholder="Your State">
                    </div>
                 </div>
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="repeatpassword">City</label>
                        <input type="text" class="form-control" id="adress" placeholder="Your City">
                    </div>
                 </div>
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="Your Zip Code">
                    </div>
                 </div>
                    <div class="text-right">
                        <button type="button" id="submit" name="submit" class="btn btn-primary">Add Adress</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

 </section>
{% endblock %}
