/* SLIDER */
.slider-content {
  max-width: 100%;
  max-height: 120px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-content: center;
}

.slider-content p {
  max-width: 800px;
}

.slider-responsive {
  position: absolute;
  text-align: center;
  margin: 10vw 50px 0px 50px;
}
